[Desktop Entry]
Version=1.0
Name=E-Kilit Application
Name[tr]=E-Kilit
Type=Application
Comment=Screen Lock Application
Comment[tr]=Ekran Kilit
Terminal=false
Exec=/usr/bin/e-kilit
Icon=/usr/share/e-kilit/e-kilit.svg
Categories=Qt;Utility;
Keywords=e-kilit;kilit;lock;screen;
GenericName=E-Kilit
GenericName[tr]=E-Kilit
Name[tr_TR]=E-Kilit
